/*
https://transfonter.org/
https://www.dafont.com/super-starfish.font?l[]=10&l[]=1
https://www.dafont.com/boss-cartoon.font?l[]=10&l[]=1
*/

@font-face {
    font-family: 'Boss cartoon';
    src: url('./fonts/BosscartoonRegular.woff2') format('woff2'),
        url('./fonts/BosscartoonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Super Starfish';
    src: url('./fonts/SuperStarfish-Regular.woff2') format('woff2'),
        url('./fonts/SuperStarfish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: 'Super Starfish';
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 2.4rem;
  font-family: 'Super Starfish';
  letter-spacing: 0.1rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'Boss cartoon';
}